.cask
*~
.mc-lists.el
.session
.trello
.emacstut
ac-comphist.dat
auto-save-list
eww-bookmarks
history
history.*
image-dired
projectile-bookmarks.eld
projectile.cache
recentf*
smex-items
tramp
url
var
abbrev_defs
.lsp-session*
helm-hatena-bookmark
helm-qiita
elpa/
private
elisp/
config/disabled
transient/
.AppleDouble
.org-id-locations
custom.el
el-get/
org-recent-headings
prescient-save.el
/.cache/treemacs-persist
/themes
/parinfer-rust
/forge-database.sqlite
/semanticdb/
/org-roam.db
/eln-cache
emacs.pdump